<ion-header>

  	<ion-navbar>
	    <ion-title>
	      	{{title}}
	    </ion-title>

  	</ion-navbar>
  	<ion-fab right bottom>
    	<button ion-fab color="light"><ion-icon name="share-alt"></ion-icon></button>
    	<ion-fab-list side="bottom">
	      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
	      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
	      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
	      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
	    </ion-fab-list>
	</ion-fab>
</ion-header>

<ion-content>

	<ion-card>
		<img src="../assets/imgs/c1.jpg" alt="">
		<ion-card-content>
			<h2>'Flashpoint': ¿Jeffrey Dean Morgan interpretará a Batman en la pelicula?</h2>
			<p>Todos estamos esperando pacientemente el estreno de la '<b>Liga de la Justicia</b>', y no sólo por ver alos superhéros que ya conocemos de vuelta a a la acción, sino porque tambien veremos un poco más de algunos nuevos personajes que en el futuro tendrán su propio largometraje. Entre ellos, está <b>Flash (Ezra Miller)</b> que protagonizará su cinta en solitario llamada 'Flashpoint' para el 2020.</p>

			<p>Los amantes de los cómics saben que en 'Flashpoint', el <b>Corredor Escarlata</b> queda atrapado en una línea temporal muy diferente a la que conocemos: <b>La Mujer Maravilla</b> esta enfrentada a <b>Aquaman</b> y <b>Bruce Wayne</b> está muerto. Es su padre quien se convierte en <b>El Caballero Oscuro</b>, y su madre es <b>El Joker</b>.</p>

			<p>En 'Batman vs Superman: El Amanecer de la Justicia', vemos la famosa muerte de los padres de <b>Bruce Wayne</b> (interpretados por <b>Jeffrey Dean Morgan y Lauren Cohan</b>). Tras todas esta información, ¿serán estos actores quienes le den vida a <b>Batman</b> y <b>El Joker</b> en Flashpoint? Esa fue la pregunta que <b>Jimmy Kimmel</b> le hizo <b>Morgan</b> en su programa de televisión. Sin embargo, el actor no ha querido dar mucho información al respecto. Después de todo, para saber si Morgan participará, habrá que esperar a que Flashpoint siga desarrollándose.</p>

		</ion-card-content>
		<ion-row>
			<ion-col icon-left clear small>
				<div class="green">Escrito por: Jorge C.</div>
			</ion-col>
			<ion-col icon-right clear small>
				<div class="grey">29 de octubre del 2017</div>
			</ion-col>
		</ion-row>
	</ion-card>

</ion-content>
