page-about {
	h2, .green {
		color: #599E4E;
		margin-bottom: 15px !important;
	}

	p {
		margin: 20px 0 !important;
	}

	ion-card-content {
		padding: 10px !important;
	}

	.grey {
		color: #666666;
	}

	ion-fab {
    	position: absolute;
	    top: 25px;
    	right: 15px !important;

    	.fab ion-icon {
    		font-size: 1.5rem;
    	}

	    button {
	    	width: 30px !important;
    		height: 30px !important;
    		background: transparent !important;
	    }
    }

    ion-fab-list {
    	min-width: inherit !important;

    	button {
	    	width: 30px !important;
    		height: 30px !important;
    		background: #599e4e !important;
	    }
    }
}
