page-login
	div.fixed-content
		background-color: #599E4E

	div.flex
		display: flex

	div.login
		flex-direction: column
		align-items: center

		a
			color: #fff
			width: 200px
			text-align: center
			border: 1px solid #fff
			padding: 10px 10px
			margin: 15px 0

