<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content padding>
	<div class="flex login">
		<img src="../assets/imgs/SI_logo.png" alt="">
		<a (tap)="login()" class="btn">Ingresar con Facebook</a>
		<a (tap)="login()" class="btn">Ingresar con Google</a>
	</div>
</ion-content>
