<!--
  Generated template for the CategoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card (tap)="showDetail()">
		<img src="../assets/imgs/c1.jpg" alt="">
		<ion-card-content>
			<p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
		</ion-card-content>
	</ion-card>

	<ion-card (tap)="showDetail()">
		<img src="../assets/imgs/c2.jpg" alt="">
		<ion-card-content>
			<p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
		</ion-card-content>
	</ion-card>

	<ion-card (tap)="showDetail()">
		<img src="../assets/imgs/c3.jpg" alt="">
		<ion-card-content>
			<p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
		</ion-card-content>
	</ion-card>

</ion-content>
