<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categorías</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card (tap)="goPage('Cine')">
    <img src="../assets/imgs/f1.jpg" alt="">
    <div class="card-title">Cine</div>  
  </ion-card>

  <ion-card (tap)="goPage('Música')">
    <img src="../assets/imgs/f2.jpg" alt="">
    <div class="card-title">Música</div>  
  </ion-card>

  <ion-card (tap)="goPage('Cultura')">
    <img src="../assets/imgs/f3.jpg" alt="">
    <div class="card-title">Cultura</div>  
  </ion-card>

  <ion-card (tap)="goPage('Gastronomía')">
    <img src="../assets/imgs/f4.jpg" alt="">
    <div class="card-title">Gastronomía</div>  
  </ion-card>

  <ion-card (tap)="goPage('Farándula')">
    <img src="../assets/imgs/f5.jpg" alt="">
    <div class="card-title">Farándula</div>  
  </ion-card>

  <ion-card (tap)="goPage('Deporte')">
    <img src="../assets/imgs/f6.jpeg" alt="">
    <div class="card-title">Deporte</div>  
  </ion-card>

</ion-content>
