page-home {
	.card-background-page {

	  ion-card {
	    position: relative;
	    text-align: center;
	    border-radius: 10px;
	    height: 130px;
	  }

	  .card-title {
	    position: absolute;
	    top: 0;
	    line-height: 130px;
	    font-size: 2.0em;
	    width: 100%;
	    font-weight: bold;
	    color: #fff;
	    background: rgba(0, 0, 0, 0.5);
	    height: 100%;
	  }

	  .card-subtitle {
	    font-size: 1.0em;
	    position: absolute;
	    top: 52%;
	    width: 100%;
	    color: #fff;
	  }

	}
}
