<ion-menu [content]="content">
	<ion-content>
		<img src="" alt="">
		<ion-list no-lines>
			<button class="home-list" ion-item detail-none >
				<ion-icon name="home" item-start></ion-icon>
				Inicio
			</button>
			<button class="home-list" ion-item detail-none (tap)="openPerfil()">
				<ion-icon name="person" item-start></ion-icon>
				Perfil
			</button>
			<button class="home-list" ion-item detail-none >
				<ion-icon name="exit" item-start></ion-icon>
				Cerrar Sesión
			</button>
		</ion-list>
	</ion-content>
</ion-menu>
<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
